@import url(./style_resets.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@200;400;600&display=swap');

:root{

    //Primary Colors
    --lime-green:hsl(163, 72%, 41%);
    --bright-red:hsl(356, 69%, 56%);
    --facebook:hsl(208, 92%, 53%);
    --twitter:hsl(203, 89%, 53%);
    --instagram:linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --youtube:hsl(348, 97%, 39%);


    //Toggle Themes
    --toggle-dark:inear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --toggle-light:hsl(230, 22%, 74%);
}

body{
    font-family: 'Inter', sans-serif;
   
}

.main-container{

    padding:2.5rem 1.6rem 0 1.6rem;
    width:100vw;
    height:100vh;
   


    .header-toggle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .social-feed{
        width:100%;
        height:auto;
        display:flex;
        flex-direction: column;
        gap:1.5rem;

        .feed-card{
            width:325px;
            height:215px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .facebook{background-color: var(--facebook);}
        .twitter{background-color: var(--twitter);}
        .instagram{background-color: purple;}
        .youtube{background-color: var(--youtube);}
    }

    .social-overview{}
}