@import url(./style_resets.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@200;400;600&display=swap');

:root{

    //Primary Colors
    --lime-green:hsl(163, 72%, 41%);
    --bright-red:hsl(356, 69%, 56%);
    --facebook:hsl(208, 92%, 53%);
    --twitter:hsl(203, 89%, 53%);
    --instagram-y:#fdc468;
    --instagram-p:#df4996;
    --youtube:hsl(348, 97%, 39%);

    --fw-normal:400;
    --fw-bold:700;

    //Toggle Themes
    --toggle-dark-blue:#378fe6;
    --toggle-dark-green:#3eda82;
    --toggle-light:hsl(230, 22%, 74%);

    /* Light Theme - Default */
    --bg: hsl(0, 0%, 100%);
    --top-bg-pattern: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    //text color
    --text-dark-grey: hsl(228, 12%, 44%);
    --text-dark-blue: hsl(230, 17%, 14%);
}


[data-theme="dark"]{
    --bg: hsl(230, 17%, 14%);
    --top-bg-attern: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);

    //text color
    --text-grey: hsl(228, 34%, 66%);
    --text-white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--bg); 
}

.main-container{

    padding:2rem 1.6rem 0 1.6rem;
    width:100vw;
    height:auto;
   


    .header-toggle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom:2.4rem;
       
        p{
            font-size:14px;
            font-weight: 700;
            color:var(--text-dark-grey);
        }

        .header-info h1{
        font-size: 1.4rem;
        color:var(--text-dark-blue);
        letter-spacing: .5px;
        }

       

        .hr{
            margin:1.3rem 0;
            width:100%;
            height:.5px;
            background-color: var(--text-dark-blue);
        }
        .toggle{
            display:flex;
            height:auto;
            width: 100%;
            justify-content: space-between;
            
            
            
            .checkbox{
                opacity: 0;
                position: absolute;
            }

            .checkbox:checked + .label .ball{
               transform: translateX(-26px);
            }

            //styling for the background of the label when it is clicked to the dark theme
           /* 
           .checkbox:checked + .label{
                background: linear-gradient(var(--toggle-dark-blue),var(--toggle-dark-green));
            }
            */
            
            .label{
                width:50px;
                height:24px;
                display:flex;
                border-radius: 50px;
                background-color: var(--toggle-light);
                position: relative;
                display:flex;
                align-items: center;
                padding:5px;
                transition: background-color .3s ease-in-out;
                

                .ball{
                    position: absolute;
                    width:18px;
                    height:18px;
                    right:4px;
                    background-color: #fff;
                    border-radius: 50%;
                    transition:transform 0.3s ease-in-out;
                }
            }
        }
        
    }

    .social-feed{
        width:100%;
        height:auto;
        display:flex;
        margin-bottom:2.5rem;
        flex-direction: column;
        gap:1.5rem;

        .feed-card{
            width:325px;
            height:220px;
            border-radius: 5px;
            position: relative;
            background-color: var(--card-bg);
            text-align: center;
            padding:2.3rem 1rem 0 1rem;
            
            .social-tag{
                width:100%;
                height:auto;
                display:flex;
                justify-content: center;
                align-items: center;

                p{
                    font-weight: var(--fw-bold);
                    font-size: 12px;
                    color:var(--text-dark-grey);
                }
                #social-icon{
                    margin-right:10px;
                }
                
            }

            .follower-count{
                height:auto;
                width:100%;
                margin-top:6px;

                #follower-num{
                    font-size: 3.5rem;
                    font-weight: var(--fw-bold);
                }

                #follower-subhead{
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    margin-top:-10px;
                    color:var(--text-dark-grey);
                    font-weight: var(--fw-normal);
                    font-size:13px;
                }
            }

            .counter{
                width:100%;
                height:auto;
                display:flex;
                justify-content: center;
                align-items: center;
                margin-top:1.4rem;

                #arrow-icon{
                    margin-right:5px;
                }

                p{
                    font-size:12px;
                    font-weight: var(--fw-bold);
                }

                #positive{color:var(--lime-green);}
                #negative{color:var(--bright-red);}
            }

        }

        .feed-card::before{
            content: "";
            height: 0.25rem;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

       
         //color of strip at the top of feed-card
         .facebook::before{background-color: var(--facebook);}
         .twitter::before{background-color: var(--twitter);}
         .instagram::before{background: linear-gradient(45deg, var(--instagram-y),var(--instagram-p));}
         .youtube::before{background-color: var(--youtube);}
    }

    .social-overview{

        width: 100%;
        height: 100%;
        
        .subheader h2{
            font-size: 1.5rem;
            color: var(--text-dark-grey);
            letter-spacing: 1px;
        }
        .overview-container{
            padding:1.5rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:1rem;
        
        .overview-card{
            width:325px;
            height:120px;
            background-color: var(--card-bg);
            border-radius: 5px;

            .social-info{}

            .stats{}
        }
        }
    }
}